@model aspnet_tutorial.Models.profile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Templates/Default/default_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.profile_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.profile_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
