@model aspnet_tutorial.Models.category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Templates/Default/default_layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label> Category name :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
